---
Checks:             '-*,modernize-use-nullptr,modernize-use-auto,llvm-namespace-comment,performance-inefficient-algorithm,performance-inefficient-string-concatenation,performance-inefficient-vector-operation'
WarningsAsErrors:   ''
HeaderFilterRegex:  '^((?!/build/|/extern/|/tinyxml/)).)*$'
FormatStyle:        file


